@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: number;
}

a {
  color: blue;
}

blockquote {
  padding: 0px 20px;
  font-size: 150%;
  font-weight: bold;
  display: flex;
  padding-left: 0px;
}

blockquote::before {
  content: "â";
  font-size: 150%;
  transform: translateY(15px);
  padding: 0px 10px;
  background-color: #87cefa;
  border-radius: 6px;
  display: flex;
  align-self: flex-start;
  color: white;
  margin-right: 10px;
}

img {
  margin: 10px 0px; /* Optional - creates space between the image and the border */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Optional - adds a shadow for a 3D effect */
}

code {
  white-space: pre-wrap;
}

#table-of-contents + ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#table-of-contents + ul ul {
  margin: 0;
}

#table-of-contents + ul > li {
  margin: 5px 0;
}

#table-of-contents + ul > li > a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

#table-of-contents + ul a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

#table-of-contents + ul > li > ul > li > a {
  font-weight: normal;
  margin-left: 20px;
}

#table-of-contents + ul  li > a:hover {
  color: #007bff;
}

html {
  scroll-behavior: smooth;
}